{% load static %}
{% load general %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo/logo.png' %}" type="image/x-icon">
</head>
<style>
    .one-line {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .green {
        color: #38D414;
    }
</style>

<body>


    <nav class="navbar navbar-light">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 data-bs-toggle="modal" data-bs-target="#addModal" type="button">Expense Tracker</h1>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Navigation
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Detailed Today</a></li>
                  <li><a class="dropdown-item" href="#">Monthly Report</a></li>
                  <li><a class="dropdown-item" href="#">Daily Report</a></li>
                </ul>
              </div>
        </div>
    </nav>



    <!-- ADD Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditModalLabel">Add Expense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-12">

                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="ADD_EXPENSE">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <span class="font-bold">Amount</span>
                                    <input name="amount" type="text" class="form-control mb-3"
                                        placeholder="Enter amount" required />
                                </div>
                                <div class="col-lg-6 col-12">
                                    <span class="font-bold">Spent On</span>
                                    <input name="person" class="form-control mb-3" placeholder="Spent on" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <span class="font-bold mb-1">Date</span>
                                    <input name="date" type="date" class="form-control mb-3" required />
                                </div>
                                <div class="col-lg-6 col-12">
                                    <span class="font-bold mb-1">Category</span>
                                    <select name="category" class="form-control mb-3">
                                        <option value="Others">Others</option>
                                        <option value="Food">Food</option>
                                        <option value="Travel">Travel</option>
                                        <option value="Shopping">Shopping</option>
                                        <option value="Education">Education</option>
                                        <option value="Medical">Medical</option>
                                        <option value="Entertainment">Entertainment</option>
                                    </select>
                                </div>
                            </div>
                            <span class="font-bold mb-1">Description</span>
                            <textarea name="desc" class="form-control mb-3" placeholder="Enter description"
                                rows="5"></textarea>
                            <button class="btn btn-primary btn-block mt-3 py-2">Add Expense</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>













    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="card minh400">
                    <div class="card-header">
                        <h4>Amount Spended Today</h4>
                        <hr>
                    </div>
                    <div class="card-body">
                        <h1 class="my-5 green text-center">₹ {{ expenses | totalExpense}}</h1>
                        <hr>

                        {% for expense in expenses %}

                        <!-- EDIT Modal -->
                        <div class="modal fade" id="EditModal{{forloop.counter}}" tabindex="-1"
                            aria-labelledby="EditModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="EditModalLabel">Edit Expense</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-12">
                                            <form method="post" id="editForm{{ forloop.counter }}">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="EDIT_EXPENSE">
                                                <input type="hidden" name="id" value="{{ expense.id }}">
                                                <div class="row">
                                                    <div class="col-12 col-lg-6">
                                                        <span class="font-bold">Amount</span>
                                                        <input name="amount" type="text" class="form-control mb-3"
                                                            placeholder="Enter amount" value="{{ expense.amount }}"
                                                            required />
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <span class="font-bold">Spent On</span>
                                                        <input name="person" class="form-control mb-3"
                                                            placeholder="Spent on" value="{{ expense.person }}"
                                                            required />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-lg-6">
                                                        <span class="font-bold d-block">Date</span>
                                                        <input name="date" type="date" class="form-control mb-3"
                                                            value="{{ expense.date|date:'Y-m-d' }}" required />
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <span class="font-bold mb-1">Category</span>
                                                        <select name="category" class="form-control mb-3">
                                                            <option value="{{ expense.category }}">{{ expense.category }}</option>
                                                            <option value="Others">Others</option>
                                                            <option value="Food">Food</option>
                                                            <option value="Travel">Travel</option>
                                                            <option value="Shopping">Shopping</option>
                                                            <option value="Education">Education</option>
                                                            <option value="Medical">Medical</option>
                                                            <option value="Entertainment">Entertainment</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="font-bold mb-1">Description</span>
                                                <textarea name="desc" class="form-control mb-3"
                                                    placeholder="Enter description"
                                                    rows="8">{{ expense.description }}</textarea>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="action" value="DELETE_EXPENSE">
                                            <input type="hidden" name="id" value="{{ expense.id }}">
                                            <button type="submit" class="btn btn-secondary">
                                                Delete Expense
                                            </button>
                                        </form>
                                        <button type="button" onclick="editSubmit({{ forloop.counter }})"
                                            class="btn btn-primary">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Table Body -->
                        <span class="row py-2 border-bottom" data-bs-toggle="modal"
                            data-bs-target="#EditModal{{forloop.counter}}" type="button">
                            <div class="col-1">
                                <span class="font-bold fs-5">{{ forloop.counter }}.</span>
                            </div>
                            <div class="col-6">
                                <span class="one-line">{{ expense.description }}</span>
                            </div>
                            <div class="col-2">
                                <span class="">{{ expense.date }}</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="font-bold text-danger fs-5">₹ {{ expense.amount }}</span>
                            </div>
                        </span>

                        {% empty %}
                        <h3 class="text-center my-5">No Expenditure Today</h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <!-- CARD 1 -->
                <div class="card minh200">
                    <div class="card-header">
                        <h4>Total Expenditure</h4>
                        <hr>
                    </div>
                    <div class="card-body">
                        <h1 class="my-5 green text-center">₹ {{ total_expenses | totalExpense}}</h1>
                    </div>
                </div>
                <!-- CARD 2 -->
                <div class="card minh200">
                    <div class="card-header">
                        <h4>Monthly Expenditure</h4>
                        <hr>
                    </div>
                    <div class="card-body">
                        <h1 class="my-5 green text-center">₹ {{ monthly_expenses | totalExpense}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function editSubmit(num) {
        var form = document.getElementById(`editForm${num}`);
        form.submit();
    }
</script>

</html>